{% extends 'dashboard.html' %}
{% load static %}
{% block dashcontent %}
        
<div class="container rounded mb-5" style="height: 500px;">
    <div class="row">
       
        <h1 class="h1 mt-4 mb-4 ms-1"> You voted before</h1>

        <div>
            <div class="card card-margin pt-4">
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title d-block fs-5 my-2">Please wait until finish voting time.</span>
                                <span class="widget-49-pro-title d-block fs-5 my-2">End time : {{exist_vote.end_date}}</span>
                                <span class="widget-49-pro-title d-block fs-5 my-2">Vote Created : {{exist_vote.vote_created_by.first_name}} {{exist_vote.vote_created_by.last_name}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>



{% endblock dashcontent %}


