{% extends 'base.html' %}
{% load static %}

{% block basecontent %}

  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-4">
            <div class="card mb-0">
              <div class="card-body">
                <a href="{% url 'register' %}" class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <img src="{{logos.logo_img.url}}" width="180" alt="">
                </a>


                
                <p class="text-center mt-3 mb-4">Register Account</p>
                <form action="" method="post">
                  {% csrf_token %}
                  <div class="mb-3 row">
                    <div class="col-6">
                      <label class="mb-1">First Name</label>
                      <input name="first_name" type="text" class="form-control" required>
                    </div>
                    <div class="col-6">
                      <label class="mb-1">Last Name</label>
                      <input name="last_name" type="text" class="form-control" required>
                    </div>
                  </div>              
                  <div class="mb-3">
                    <label class="mb-1">Email Address</label>
                    <input name="email" type="email" class="form-control" required>
                  </div>
                  <div class="row">
                    <div class="mb-4 col-6">
                      <label class="mb-1">Password</label>
                      <input name="password1" type="password" class="form-control" required>
                    </div>
                    <div class="mb-4 col-6">
                      <label class="mb-1">Confirm Password</label>
                      <input name="password2" type="password" class="form-control" required>
                    </div>
                  </div>
 
                  <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2"> Sign Up </button>
                  <div class="d-flex align-items-center justify-content-center">
                    <p class="fs-3 mb-0 fw-bold">Already have an Account?</p>
                    <a class="text-primary fw-bold ms-2" href="{% url 'login' %}">Sign In</a>
                  </div>
                </form>

                <div class="mt-2 mb-5 p-1 text-center fs-4 text-danger font-weight-bold">
     
                  {% for message in messages %}
                      <p style="color:red" class="font-weight-bold mb-4">{{message}}</p>
                  {% endfor %}
          
                 </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock basecontent %}