{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>KKBAU App</title>
  <link rel="shortcut icon" type="image/png" href="{{logos.icon_img.url}}" />
  <link rel="stylesheet" href="{% static "css/styles.min.css" %}" />
  <link rel="stylesheet" href="{% static "css/custom.css" %}" />
</head>

<body>

  {% block basecontent %}



  {% endblock basecontent %}

  <script src="{% static "libs/jquery/dist/jquery.min.js" %}"></script>
  <script src="{% static "libs/bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>
  <script src="{% static "js/sidebarmenu.js" %}"></script>
  <script src="{% static "js/app.min.js" %}"></script>
  <script src="{% static "libs/simplebar/dist/simplebar.js" %}"></script>
  <script src="{% static "js/scripts.js" %}"></script>
</body>

</html>